
   
   <div class="container ">
     <br/>
     <div class="row ">
      <form class="col s12 m6 offset-m3 green lighten-5" #loginForm="ngForm">

        <div class="row">
          <div class="input-field col s12">
            <input name="email" id="email" type="email" class="validate" 
            required [(ngModel)]="email" #emailRef="ngModel"
            [ngClass]="{'is-invalid': emailRef.invalid && emailRef.touched,
            'is-valid': emailRef.valid && emailRef.touched}"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

            <label for="email">Email</label>
          </div>
          <div *ngIf="emailRef.invalid && emailRef.touched" class="red-text">
             Invalid email
        </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="icon_telephone" type="password" name="password" id="password" required
            [(ngModel)]="password" #passwordRef="ngModel"
            [ngClass]="{'is-invalid': passwordRef.invalid && passwordRef.touched,
            'is-valid': passwordRef.valid && passwordRef.touched}" minlength=6
            >
            <label for="password">Password</label>

          </div>

          <div *ngIf="passwordRef.invalid && passwordRef.touched" class="red-text">
            <div *ngIf="passwordRef.errors.required">
              Password is required.
            </div>
            <div *ngIf="passwordRef.errors.minlength">
              Password must be at least 6 characters long.
            </div>
          </div>
          

        </div>

        <div class="row">
          <div class="col s10 m10 offset-s1 offset-m1 ">
              <button class="waves-effect waves-light btn blue darken-1" (click)="signUp()" [disabled]="loginForm.invalid">Register</button>
              <button class="right waves-effect waves-light btn btn green darken-1" (click)="signIn()" [disabled]="loginForm.invalid">Login</button>
          </div> 
        </div>
      </form>
    </div>
    </div>
